.Productos-tornillos {
    padding: 20px;
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el ancho mínimo de cada tarjeta */
    gap: 20px;
    margin-top: 20px;
  }
  
  .tarjeta-producto {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: transparent;
    max-width: 100%; /* Asegura que la tarjeta no exceda el ancho del contenedor */
    min-width: 300px; /* Establece un ancho mínimo para evitar que la tarjeta sea demasiado pequeña */
    height: 200px; /* Altura fija para la tarjeta */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.Imagen-producto {
    width: 80px;
    height: 80px;
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    object-fit: cover; /* Asegura que la imagen mantenga la proporción */
    background-color: transparent; /* Asegúrate de que no tenga fondo */
    border-radius: 5px;
}



.tarjeta-producto h3 {
    margin: 0 0 10px 0;
    font-size: 12px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.tarjeta-producto p {
    margin: 5px 0;
    font-size: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}


 
  
  
  